<!DOCTYPE html>
<html>
<head>
<title>Upload</title>

     <link rel="stylesheet" href="{{ url_for('static', filename='css/style_upload.css') }}">



 

        
</head>
<body>
<center>
    <div class="div2">
 <strong>Object Detection:</strong><br><br>
<form id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">


    <input id="file-picker" class="form-control input-lg"  type="file" name="file" accept="video/mp4" required >
    <br>
    <br>
    <input type="submit" class='btn btn-primary' value="Upload!" id="custom-button">
   
</form>

</div>

</center>
</body>


</html>