body{
	background-image: url('process.jpg');
	 background-repeat: no-repeat;
  background-size: 1367px 750px;;
	padding: 0;
	margin: 0;
}
#process-button {
  padding: 10px;
  color: white;
  background-color: #009578;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#process-button:hover {
  background-color: #00b28f;
}


.div2 {
	 border-left: 6px solid blue;
  background-color: lightgrey;
  opacity:0.6;
  width: 300px;
  position: absolute;
   left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;  
  padding: 50px;
  }

  .loader-wrapper{
  	position: absolute;
  	left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   padding: 50px;
  	
  }